.message{data: {message: {id: message.id}}}
  .list-box
    .list-box__contents
      .list-box__contents__message-name
        = message.user.name
      .list-box__contents__message-date
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .list-box__message-text
      - if message.content.present?
      .message-body
        = message.content
      = image_tag message.image.url if message.image.present?
        -# .ist-box__message-image緊急クラス作成用コメントアウトでも段落ミスでエラーに繋がるので注意