* {
  box-sizing: border-box;
  text-decoration: none;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  .side-bar{
    background-color: #2f3e51;
    height: 100vh;
    width: 300px;
    &__header {
      background-color: #253141;
      height: 100px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      .user-box {
        background-color: #253141;
        height: 20px;
        width: 260px;
        display: flex;
        justify-content: space-between;
        &__box-name {
          color: #ffffff;
          font-weight: bold;;
        }
        &__box-item {
          width: 60px;
          height: 20px; 
          display: flex;
          justify-content: flex-end;
          &__fas-icon {
            color: #ffffff;
            text-decoration: none;
            padding-left: 5px;
          }
        }
      }
    }
    &__group-list {
      padding: 0 20px;
      .group-box {
        height: 100px;
        background-color: #2f3e51;
        &__list-name {
          font-size: 15px;
          padding: 20px 0 5px 0;
          color: #ffffff;
          text-decoration: none;
        }
        &__list-message {
          font-size: 11px;
          color: #ffffff;
        }
      }
    }
  }


  .main-chat{
    background-color: #ffffff;
    height: 100vh;
    width: calc(100% - 300px);
    &__header {
      background-color: #ffffff;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      // ヘッダー固定のコード
      position: fixed;
      z-index: 1;
      width: 100%;
      .info-box {
        color: #333333;
        &__group-name {
          font-size: 20px;
          padding: 35px 0px 15px 0;
        }
        &__group-member {
          font-size: 12px;
          color: #999999;
        }
      }
      .edit-box {
        height: 40px;
        width: 72px;
        &__edit-text {
          text-decoration: none;
          &__edit-btn {
            font-size: 16px;
            color: #38aef0;
            line-height: 40px;
            text-decoration: none;
            border: 1px solid #38aef0;
            text-align: center;
          }
        }
      }
    }
    &__message-list {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 0 40px;
      // ヘッダー固定用コード
      margin-top: 100px;
      overflow: scroll;
      .list-box {
        width: 100%;
        padding: 35px 0 46px 0;
        &__contents {
          display: flex;
          &__message-name {
            font-size: 16px;
            color: $section-color;
            // 上の色はパーシャル,_color.scss
            padding-right: 5px;
          }
          &__message-date {
            font-size: 12px;
            color: #999999;
          }
        }
        &__message-text {
          font-size: 14px;
          color: #434a54;
          padding-top: 12px;
          margin-bottom: 10px;
        }
        // .message-image {
        //   画像で何かあったら使用する
        // }
      }
    }
    &__message-form {
      background-color: #d2d2d2;
      height: 90px;
      z-index: 1;
      bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px 0 40px;
      &__footer {
        height: 50px;
        width: 100%;
        display: flex;  
        position: relative;
        bottom: 0;
        z-index: 1;
        .input-space {
          height: 50px;
          width: 100%;
          background-color: #fff;
          border-style: none;
          padding: 0 40px 0 10px;
        }
        .form-icon {
          height: 50px;
          color: black;
          cursor: pointer;
          position: absolute;
          top: 10px;
          right: 10px;
          font-size: 20px;
          &__file {
            display: none;
          }
        }
      }
      .send-btn {
        @include send-btn;
        // パーシャルを使用 stylesheets/_send-btn.css
      }
    }
  }
}